@{
    ViewBag.Title = "Basic";
}

<h2>Hello <span data-bind="text: name"></span></h2>
<h2>Welcome to ASP and Knockout.js</h2>
<button onclick="ko.applyBindings(viewModel);">Apply Binding</button>

@section Scripts {
<script>
    function ViewModel() {
        name = "User";
    };

    var viewModel = new ViewModel();
</script>
}
